:root {
  --grid: .25rem;
  --color-red-100: #222333;
  --color-bolto: #772122;
}

* {
  --color: ;
  --height: ;
  --display: ;
  --flex-direction: ;
  --background-color: ;
  --padding: ;
  --z-index: ;
}

[style*="--background-color:"] {
  background-color: var(--background-color);
}

[style*="--color:"] {
  color: var(--color);
}

[style*="--display:"] {
  display: var(--display);
}

[style*="--flex-direction:"] {
  flex-direction: var(--flex-direction);
}

[style*="--height:"] {
  height: calc(var(--grid) * var(--height));
}

[style*="--height:var"], [style*="--height: var"] {
  height: var(--height);
}

[style*="--padding:"] {
  padding: calc(var(--grid) * var(--padding));
}

[style*="--padding:var"], [style*="--padding: var"] {
  padding: var(--padding);
}

[style*="--z-index:"] {
  z-index: var(--z-index);
}
