:root {
  --grid: .25rem;
}

* {
  --color: ;
  --padding: ;
  --background-color: ;
  --font-size: ;
  --height: ;
  --display: ;
  --flex-direction: ;
}

[style*="--background-color:"] {
  background-color: var(--background-color);
}

[style*="--color:"] {
  color: var(--color);
}

[style*="--display:"] {
  display: var(--display);
}

[style*="--flex-direction:"] {
  flex-direction: var(--flex-direction);
}

[style*="--font-size:"] {
  font-size: var(--font-size);
}

[style*="--height:"] {
  height: calc(var(--grid) * var(--height));
}

[style*="--height:var"], [style*="--height: var"] {
  height: var(--height);
}

[style*="--padding:"] {
  padding: calc(var(--grid) * var(--padding));
}

[style*="--padding:var"], [style*="--padding: var"] {
  padding: var(--padding);
}
